{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis amet facere 
        enim ut possimus vero obcaecati veniam, eos minus cum unde deserunt saepe corrupti illum tempore 
        aspernatur autem est recusandae! Alias facere quaerat voluptatem ad? Officia, libero commodi ullam, quia 
        cum at impedit ipsam quae atque, dolorem enim doloremque? Sint veritatis iusto unde ut officia non ipsum minus 
        eligendi, omnis distinctio autem nesciunt ea alias exercitationem adipisci corporis cum soluta doloribus animi 
        rerum. Asperiores, nam alias? Aperiam dolorum magnam maiores officia, assumenda qui accusamus obcaecati saepe 
        officiis aliquid! Recusandae repellendus possimus id sed ipsa. Iure asperiores sint quo. Illum, quas.
        </p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/singin/">
                Singin
            </a>

            <a class="btn btn-dark" href="/singup/">
                Singup
            </a>
        </div>
    </section>
</main>




{% endblock %}